:root {
  --animation-color: #37FF8B;

  /* solid */

  --jet: hsl(0, 0%, 22%);
}







#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  /* Match the color to your theme */
  z-index: 1000;
}

body.loaded #preloader {
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}



/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  overflow-x: hidden !important;
  /* Prevent horizontal scroll bar */
}

h1,
h2,
h5,
p {
  color: white;
}

h1 {
  font-size: 56px !important;
  font-weight: 900;
}

a.button {
  color: white !important;
  text-decoration: none !important;
}

a.header_btn {
  margin: 32px auto 0 auto;
}

/* Navbar Styles */
.navbar-brand {
  position: absolute;
  top: 0;
  margin-top: 6px;
}


.navbar-toggler {
  margin: auto;
}

.navbar-nav {
  margin: auto;
}


.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: var(--animation-color) !important;
  border-bottom: 2px solid var(--animation-color);
  padding: 0 !important;
  padding-top: 0.5rem !important;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

}



/* Search Form Styles */
#searchForm {
  display: none;
  background-color: transparent;
  position: absolute;
  right: 1%;
  /* Dark background to match navbar */
  color: white;
  /* White text color */
  border: none;
  /* Border color */
  padding: 0;
  /* Padding for better spacing */
}


.searchButton {
  position: absolute !important;
}


#searchForm input {
  background-color: rgba(255, 255, 255, 0.1);
  /* Slightly white with transparency */
  backdrop-filter: blur(5px);
  /* Darker background for input */
  color: white;
  /* White text color */
  border: none;
  /* Remove default border */
  padding-left: 20px;
}

#searchForm input::placeholder {
  margin-left: 50px;
  color: #ced4da;
  /* Placeholder text color */
}

/* Section Styles */
.section {
  padding: 20px 0;
  margin: 20px auto;
  /* Space around sections */
}





/* Wrapper Styles */
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
  margin: 30px auto 80px auto;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

/* Button Styles */
.button {
  margin: 20px 0 0 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* Section Banner Styles */
.section-banner {
  height: 250px;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  /* Prevent interaction with any content */
  transition: left 0.3s linear;
  cursor: grab;
  background: url("/assets/img/earth.jpg");
  background-size: cover;
  background-position: left;
  bottom: 0px;
  border-radius: 50%;
  animation: earthRotate 30s linear 0s infinite;
  box-shadow: 0px 0 20px RGBA(255, 255, 255, 0.2), -5px 0px 8px #c3f4ff inset,
    15px 2px 25px #000 inset, -24px -2px 34px #c3f4ff99 inset,
    250px 0px 44px #00000066 inset, 150px 0px 38px #000000aa inset;
  overflow: hidden !important;
  /* Prevent scroll bar */
}

@keyframes earthRotate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 400px 0;
  }
}

/* Star Styles */
.curved-corner-star {
  display: flex;
  position: relative;
}

#curved-corner-bottomleft,
#curved-corner-bottomright,
#curved-corner-topleft,
#curved-corner-topright {
  width: 4px;
  height: 5px;
  overflow: hidden;
  position: relative;
}

#curved-corner-bottomleft:before,
#curved-corner-bottomright:before,
#curved-corner-topleft:before,
#curved-corner-topright:before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
}

#curved-corner-bottomleft:before {
  bottom: 0;
  left: 0;
  box-shadow: -5px 5px 0 0 white;
}

#curved-corner-bottomright:before {
  bottom: 0;
  right: 0;
  box-shadow: 5px 5px 0 0 white;
}

#curved-corner-topleft:before {
  top: 0;
  left: 0;
  box-shadow: -5px -5px 0 0 white;
}

#curved-corner-topright:before {
  top: 0;
  right: 0;
  box-shadow: 5px -5px 0 0 white;
}

@keyframes twinkling {

  0%,
  100% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }
}

#star-1,
#star-2,
#star-3,
#star-4,
#star-5,
#star-6,
#star-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  /* Adjust size of stars */
  height: 50px;
  background-size: contain;
  animation: star-move 20s linear infinite;
  pointer-events: none;
  /* Prevent star interaction with content */
}

@keyframes star-move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
    /* Move the stars from top to bottom of viewport */
  }
}

#star-1 {
  position: absolute;
  left: -20px;
  animation: twinkling 3s infinite;
}

#star-2 {
  position: absolute;
  left: -40px;
  top: 30px;
  animation: twinkling 2s infinite;
}

#star-3 {
  position: absolute;
  left: 350px;
  top: 90px;
  animation: twinkling 4s infinite;
}

#star-4 {
  position: absolute;
  left: 200px;
  top: 290px;
  animation: twinkling 3s infinite;
}

#star-5 {
  position: absolute;
  left: 50px;
  top: 270px;
  animation: twinkling 1.5s infinite;
}

#star-6 {
  position: absolute;
  left: 250px;
  top: -50px;
  animation: twinkling 4s infinite;
}

#star-7 {
  position: absolute;
  left: 290px;
  top: 60px;
  animation: twinkling 2s infinite;
}



.home {
  background-color: transparent;
  /* Darker background for home section */
  color: white;
  /* White text color */
}

.home__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__data h5 {
  margin-top: 20px;
}

.about.section {
  margin: 0;
}

.about .container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500vh;
  /* Ensure parent has a height */
}

.about__description {
  margin-bottom: 60px;
}

.about h2 {
  margin-top: 40px;
}

.about p {
  margin: 10px 80px;
}

.about_grid {
  display: grid !important;
  grid-template-columns: repeat(12, 1fr);
  position: sticky !important;
  bottom: 24vh;
  margin: 10px 0;
  transition: transform 0.1s ease;
}

.about_sec_div:hover {
  background-color: var(--glow-color);
  transition: background-color 0.2s ease-in-out;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60), inset 0 0 10px var(--animation-color);
}

.about_sec_div:hover .blob::before {
  content: '';
  position: absolute;
  top: 0;
  left: 5%;
  width: 200px;
  /* Width of the inset shadow */
  height: 4px;
  /* Height of the pseudo-element */
  box-shadow: inset 0 0 10px var(--animation-color);
  border-radius: 20px;
  animation: insetGlow 2s infinite ease-in-out alternate;

}

@keyframes insetGlow {
  from {}

  to {
    top: 0%;
    left: 70%;
  }
}

.about_sec_div {
  --glow-color: rgb(25, 25, 25);
  grid-column: 3/11;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60), inset 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  margin: 0;
  backdrop-filter: blur(1px);
  transition: background-color 0.2s ease-in-out;
  position: relative;
}



.about-fade-in-class {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  margin: auto;
  grid-auto-rows: minmax(80px, auto);
  justify-content: start;
  gap: 10px;
}

.about-fade-in-class p {
  margin: 0 auto 10px 10px;
  text-align: left;
  font-size: 10px;
}

.cv_div_1 {
  grid-column: 1/2;
  grid-row: 1/5;
  background-color: Transparent;
  color: white;
  border-radius: 10px;
}

.cv_div_1:hover,
.cv_div_2:hover,
.cv_div_3:hover,
.cv_div_4:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.2s ease-in-out;
  box-shadow: inset 0 0 10px white;
}

.cv_div_1 .cv_div_1_first_h {
  font-size: 14px;
  font-weight: 700;
  margin: 16px auto 10px auto;
}

.cv_div_1 .cv_div_1_second_h {
  font-size: 14px;
  text-align: left;
  margin: 42px 10px 10px 10px;
}


.about-fade-in-class .about_dp {
  margin: 26px auto 0 auto;
  filter: drop-shadow(0 0 8px white);
  width: 100px;
}



.cv_div_2 {
  grid-column: 2/3;
  grid-row: 1/3;
  background-color: Transparent;
  color: white;
  border-radius: 10px;

}

.cv_div_2 h5 {
  font-size: 14px;
  text-align: left;
  margin: 16px auto 0 10px;
}

.cv_div_2 h6 {
  font-size: 12px;
  text-align: left;
  margin: 10px auto 0 10px;
}

.cv_div_3 {
  grid-column: 2/3;
  grid-row: 3/5;
  background-color: Transparent;
  color: white;
  border-radius: 10px;

}

.cv_div_3 h5 {
  font-size: 14px;
  text-align: left;
  margin: 16px auto 0 10px;
}

.cv_div_3 .sub_grid_h6_1 {
  font-size: 10px;
  text-align: center;
  margin: 10px auto 0 10px;
}

.cv_div_3 .sub_grid_h6_2 {
  font-size: 10px;
  text-align: center;
  margin: 24px auto 0 10px;
}

.cv_div_3_sub_grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
}

.cv_div_3_sub_grid_div1 {
  margin: 30px 0 0 0;
  grid-column: 1/2;
}

.cv_div_3_sub_grid_div2 {
  position: relative;
  border-left: 2px solid white;
  margin: 20px 0 0 0;
  grid-column: 2/4;
}

.cv_div_3_sub_grid_div2::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  /* Dot color */
  border-radius: 50%;
  top: 20px;
  /* Adjust the position to place it exactly on the border */
  left: 0%;
  /* Center horizontally */
  transform: translateX(-50%);
}

.cv_div_3_sub_grid_div2::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  /* Dot color */
  border-radius: 50%;
  top: 60px;
  /* Adjust the position to place it exactly on the border */
  left: 0%;
  /* Center horizontally */
  transform: translateX(-50%);
}

.cv_div_3_sub_grid_div2 p {
  font-size: 10px;
  margin: 10px;
}


.cv_div_4 {
  grid-column: 3/5;
  grid-row: 1/5;
  background-color: Transparent;
  color: white;
  border-radius: 10px;

}

.cv_div_4 h5 {
  font-size: 14px;
  text-align: left;
  margin: 16px auto 0 10px;
}

.cv_div_4_grid {
  display: grid !important;
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  margin: 30px 10px 10px 10px;
}


.cv_div_4_grid_subdiv1 {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1/2;
  position: relative;
}

.cv_div_4_grid_subdiv1 h6 {
  font-size: 10px;
  text-align: center;
}

.cv_div_4_grid_subdiv1_h61::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  /* Dot color */
  border-radius: 50%;
  top: 19px;
  /* Adjust the position to place it exactly on the border */
  left: 17%;
  /* Center horizontally */
  transform: translateX(-50%);
}

.cv_div_4_grid_subdiv1_h62::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  /* Dot color */
  border-radius: 50%;
  top: 19px;
  /* Adjust the position to place it exactly on the border */
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
}

.cv_div_4_grid_subdiv1_h63::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  /* Dot color */
  border-radius: 50%;
  top: 19px;
  /* Adjust the position to place it exactly on the border */
  left: 84%;
  /* Center horizontally */
  transform: translateX(-50%);
}

.cv_div_4_grid_subdiv1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 76%;
  border-bottom: 2px solid white;
}

.cv_div_4_grid_subdiv2 {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 2/4;
}

.cv_div_4_grid_subdiv2 p {
  margin-top: 10px;
  text-align: center;
}


.cv_div_4 .cv_div_4_h5_2 {
  margin-top: 22px;
}

.cv_div_4_grid_2 {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}



/**
 * skills 
 */


.skills-list {
  padding: 0 20px 20px 20px;
}


.skills-item:not(:last-child) {
  margin-bottom: 15px;
}

.skill .title-wrapper {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 0;
}

.skill .title-wrapper h6 {
  font-size: 12px;
}

.skill .title-wrapper data {
  font-size: 10px;
}


.skill-progress-bg {
  background: var(--jet);
  width: 100%;
  height: 6px;
  border-radius: 10px;
}

.skill-progress-fill {
  background: var(--animation-color);
  height: 100%;
  border-radius: inherit;
}









/* ========================================== */
/* =================PORTFOLIO================== */
/* ============================================= */








.portfolio.section {
  display: flex;
  align-items: center;
  backdrop-filter: blur(20px);
  border-top: 2px solid rgba(255, 255, 255, 0.5)  ;
  border-radius: 20px;
  height: 100vh;
  margin: -90vh 0 0 0;
  opacity: 0;
  transition: opacity 0.1s ease-out;
  /* Smooth transition */

}



.portfolio-button {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}


.card {
  background-color: transparent !important;
  border: none !important;
  text-align: center;
  overflow: hidden;
  border-radius: 20px !important;
}

.card-title h5 {
  padding-top: 30px;
  text-align: center;
}

.card img {
  border-radius: 20px;
  width: 100%;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.portfolio .card img:hover {
  filter: brightness(0.9);
  transform: scale(1.2);
  overflow: hidden;
}

.card .card-body {
  background: transparent;
  padding: 1.25rem 0 0 0;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  margin: auto 60px;
}

.item-card1,
.item-card2,
.item-card3 {
  margin: auto 20px;
}

.item-card4,
.item-card5,
.item-card6 {
  margin: 20px;
}

.card-body h5 {
  margin-bottom: 0;
}

.card-body p {
  margin-bottom: 0;
}







/* ========================================== */
/* =================Services================== */
/* ============================================= */

.services {
  margin-top: -2px;
  height: 500vh !important;
  backdrop-filter: blur(20px);
  border-top: 2px solid rgba(255, 255, 255, 0.5)  ;
}



.card-container-ser {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.card-ser {
  min-width: 40%; 
  height: 90vh; 
  margin: 10px;
  --glow-color: rgb(25, 25, 25);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* Removed opacity and transition properties */
}

.card-ser:hover{
  background-color: var(--glow-color);
  transition: background-color 0.2s ease-in-out;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60), inset 0 0 10px var(white
  );

}
